
<html lang="en">
    <head>
      <title>Sustain</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="/js/getrequest.js"></script>
      <script src="/js/postrequest.js"></script>
    </head>
     
    <body> 
    <div class="container"> 
    <div class="col-sm-4">
      <h3>Sustain Report</h3>
      <div>    
        <form id="businessForm">
          <div class="form-group">
          <label for="brandname">Business name:</label>
          <input type="text" class="form-control" id="brandname" required=true placeholder="Enter a brand or business name"/>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div id="postResultDiv">
      </div>

      <br>
      <div>
        <button id="loadButton" type="button" class="btn btn-default">See business data</button>
        <div id="getResultDiv">
      </div>
      <br>
      <div>
        <button id="allBusinesses" type="button" class="btn btn-default" style.display="none">Your search history</button>
        <div id="getResultsDiv">
              <ul class="list-group">
            </ul>
          </div>
      </div>
    </div>  
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-database.js"></script>


<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBrJTjQo6gZ6UX_iTo8z1muvrIoMxkXvwo",
    authDomain: "sustainability-4ae3a.firebaseapp.com",
    databaseURL: "https://sustainability-4ae3a.firebaseio.com",
    projectId: "sustainability-4ae3a",
    storageBucket: "sustainability-4ae3a.appspot.com",
    messagingSenderId: "915190118676",
    appId: "1:915190118676:web:7047070d6042c1d685aa01",
    measurementId: "G-0NH1RKVV78"
  };

</script>
    </body>
    </html>
