// Your variable overrides
$body-bg: #344;
$body-color: #344;
body{padding:.5rem;}


.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}

.pt-0 {
    margin-top: 0 !important;
}
.pb-0 {
    margin-bottom: 0 !important;
}

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";